<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="stylesheets/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/evento.core.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/glide.core.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/glide.theme.min.css">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css'/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://use.fontawesome.com/82721ff0bc.js"></script>

    <!-- JS files -->

    <!-- JQUERY JAVASCRIPT -->
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <!-- SEMANTIC JAVASCRIPT -->
    <script src="javascripts/semantic.min.js"></script>
    <!-- GLIDE JAVASCRIPT -->
    <script src="javascripts/glide.min.js"></script>
    <!-- SMOOTH SCROLLING -->
    <script src="javascripts/smooth-scroll.min.js"></script>
    <!-- Client Script -->
    <script type="text/javascript" src="javascripts/evento.core.js"></script>
    <script type="text/javascript" src="javascripts/evento.create.js"></script>
    <!-- FONT-AWESOME JAVASCRIPT -->
    <script src="https://use.fontawesome.com/82721ff0bc.js"></script>

    <link rel="shortcut icon" href="images/favicon.png">

</head>
<body>
<!-- Raised Segment -->
<div class="raised-segment">

    <!-- Carousel -->
    <div id="Glide" class="glide">
        <div class="glide__wrapper" style="height: 100%;position: absolute; width:100%">
            <ul class="glide__track">
                <li class="glide__slide">
                    <img class="ui fluid image" style="height: 100%" src="images/wedding-1.jpeg">
                </li>
                <li class="glide__slide">
                    <img class="ui fluid image" style="height: 100%" src="images/corporate.jpg">
                </li>
                <li class="glide__slide">
                    <img class="ui fluid image" style="height: 100%" src="images/wedding-2.jpeg">
                </li>
                <li class="glide__slide">
                    <img class="ui fluid image" style="height: 100%" src="images/fest.jpg">
                </li>
                <li class="glide__slide">
                    <img class="ui fluid image" style="height: 100%" src="images/birthday.jpg"/>
                </li>
            </ul>

        </div>
        <!-- Login/Signup Buttons -->
          <div class="four column row">
            <div class="right floated column">
              <div class="ui inverted button" id="b-signup" onclick="signUp()">Sign Up</div>
              <div class="ui inverted button" id="b-signin" onclick="signIn()">Log In</div>
            </div>
          </div>
        <!-- <div class="glide__bullets" style="height: 0.1em"></div> -->

    </div>


    <!-- Scrim above the carousel to achieve more legibility -->
      <div class="scrim"></div>
</div>

<!-- Header and Subheader -->
<div class="ui one column centered grid header_container">

    <!-- Evento header -->
    <div class="one column centered row">
        <div class="six wide column">
            <h1 class="ui header" id="main-header">Evento</h1>
        </div>
    </div>

    <!-- Horizontal Divider -->
    <div class="one column centered row">
        <div class="eight wide column">
            <hr class="divider"/>
        </div>
    </div>

    <!-- Single line -->
    <div class="one column centered row">
        <div class="eight wide column" style="text-align: center;">
            <h4 class="ui header" id="header-subline">We make application developement piece of cake.</h4>
        </div>
    </div>
</div>

<!-- Get Started button -->
<div id="b_started_wrapper" style="text-align: center">
    <div class="ui inverted button" id="b_started" >Get Started</div>
</div>

<div class="sub-header" id="event_selection">Choose your event</div>

<!-- Section2 - Select the event cards  -->
<div class="ui four column centered grid stackable">


    <!-- Wedding Card -->
    <div class="three wide column" id="wedding-card">
        <div class="ui special fluid linked card">
            <div class="ui fluid card">
                <div class="blurring dimmable div">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                Base Price : $7.50
                            </div>
                        </div>
                    </div>
                    <div id="wedding-card-div">
                        <img class="image" src="icons/home.png">
                    </div>
                </div>
                <div class="content">
                    <div class="header" style="text-align: center">
                        Wedding
                    </div>
                    <div class="description">
                        Your wedding must be a perfect wedding. Make it memorable by creating a perfect application crafted according to your schedule.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="three wide column" id="corporate-card">
        <div class="ui special linked fluid card">
            <div class="ui fluid card">
                <div class="blurring dimmable div">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                Base Price : $10.00
                            </div>
                        </div>
                    </div>
                    <div id="corporate-card-div">
                        <img class="image" src="icons/handshake.png">
                    </div>
                </div>
                <div class="content">
                    <div class="header" style="text-align: center">
                        Corporate Party
                    </div>
                    <div class="description">
                        Leave an impression on the fellow colleagues by creating a customized application for your corporate party.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="three wide column" id="fest-card">
        <div class="ui special linked fluid card">
            <div class="ui fluid card">
                <div class="blurring dimmable div">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                Base Price : $2.50
                            </div>
                        </div>
                    </div>
                    <div id="fest-card-div">
                        <img class="image" src="icons/rock.png">
                    </div>
                </div>
                <div class="content">
                    <div class="header" style="text-align: center">
                        Festival
                    </div>
                    <div class="description">
                        Add life to your festival with custom tailored application to share the exhilarating experience with your dear ones.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="three wide column" id="birthday-card">
        <div class="ui special linked fluid card">
            <div class="ui fluid card">
                <div class="blurring dimmable div">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                Base Price : It's Free!
                            </div>
                        </div>
                    </div>
                    <div id="birthday-card-div">
                        <img class="image" src="icons/birthday-cake.png">
                    </div>
                </div>
                <div class="content">
                    <div class="header" style="text-align: center">
                        Birthday
                    </div>
                    <div class="description">
                        Celebrate your birthday and preserve the special moments with an app made especially for you by you.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="event_selection" href="#event_selection"></a>

<div class="ui inverted vertical footer segment" style="margin-top:1em;">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid" style="padding:2em 0em 5em 6em;">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Careers</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui inverted header">Services</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">Pricing</a>
                    <a href="#" class="item">FAQ</a>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui inverted header">Evento</h3>
                <p>Handcrafted in India</p>
                <p class="terms-privacy">&copy; 2017 |
                    <a class="terms-privacy" href="/about">About</a> |
                    <a class="terms-privacy" href="/privacy-policy">Privacy</a> |
                    <a class="terms-privacy" href="/terms">Terms</a>
                </p>
            </div>
            <div class="six wide column">
                <h3 class="ui inverted header">Social</h3>
                <p><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official fa-2x"
                                                                         aria-hidden="true"></i></a>
                    &nbsp &nbsp
                    <a href="https://github.com/utkarshnath/Auto-Android-Frontend" target="_blank"><i
                                class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    &nbsp &nbsp
                    <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter fa-2x"
                                                                         aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    function signIn() {
        let url = '/login';
        window.location = url;
    }
    function signUp() {
        let url = '/signup';
        window.location = url;
    }
</script>
</html>
