<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

<!-- =============== LOCAL LOGIN FORM =================== -->
<h1>Login</h1>
<form action="/login" method="POST">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="submit">
</form>

<!-- ============== GOOGLE LOGIN BUTTON ================== -->
<form action="/login/google" method="GET">
	<input type="submit" value="Google Login">
</form>

<!-- ============== FACEBOOK LOGIN BUTTON ================== -->
<form action="/login/Facebook" method="GET">
	<input type="submit" value="Facebook Login">
</form>
<script type="text/javascript" src = "javascripts/script.login.js"></script>
>>>>>>> facebook_login
</body>
</html>