<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script type="text/javascript" src = "https://apis.google.com/js/platform.js" async defer></script>
	<meta charset="utf-8" name="google-signin-client_id" content="674011120507-oq1uj8qq2cq8p8845capmqf9n6cdil85.apps.googleusercontent.com">
</head>
<body>

<!-- Facebook SDK loading script -->


<!-- =============== LOCAL LOGIN FORM =================== -->
<h1>Login</h1>
<form action="/login" method="POST">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="submit">
</form>

<!-- =========== GOOGLE LOGIN BUTTON ================ -->
<div class="g-signin2" data-onSuccess = "onSignIn"></div>

<!-- ============== FACEBOOK LOGIN BUTTON ================== -->
<form action="/login/Facebook" method="GET">
	<input type="submit" value="Facebook Login">
</form>
<script type="text/javascript" src = "javascripts/script.login.js"></script>
</body>
</html>