<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script type="text/javascript" src = "https://apis.google.com/js/platform.js" async defer></script>
	<meta charset="utf-8" name="google-signin-client_id" content="674011120507-oq1uj8qq2cq8p8845capmqf9n6cdil85.apps.googleusercontent.com">
</head>
<body>

<!-- Facebook SDK loading script -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1696267447331070',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- =============== LOCAL LOGIN FORM =================== -->
<h1>Login</h1>
<form action="/login" method="POST">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="submit">
</form>

<!-- =========== GOOGLE LOGIN BUTTON ================ -->
<div class="g-signin2" data-onSuccess = "onSignIn"></div>

<!-- ============== FACEBOOK LOGIN BUTTON ================== -->
<fb:login-button scope="public_profile,email" onlogin="checkFacebookLoginState();">
</fb:login-button>

<script type="text/javascript" src = "javascripts/script.login.js"></script>
</body>
</html>