<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script type="text/javascript" src = "https://apis.google.com/js/platform.js" async defer></script>
	<meta charset="utf-8" name="google-signin-client_id" content="674011120507-oq1uj8qq2cq8p8845capmqf9n6cdil85.apps.googleusercontent.com">
</head>
<body>
<h1>Login</h1>
<form action="/login" method="POST">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="submit">
</form>
<div class="g-signin2" data-onSuccess = "onSignIn"></div>
<script type="text/javascript">
	function onSignIn(googleUser){
		var profile = googleUser.getBasicProfile();
		console.log("Id : " , profile.getId());
		console.log("Name : ", profile.getName());
		console.log("Email: ",profile.getEmail());
	}
</script>
</body>
</html>